#root {
  /*padding: 2rem;*/
  /*text-align: center;*/
}

/*.logo {*/
/*  height: 60px;*/

/*}*/

/*.bg-gray-800 {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height:10%;*/
/*  background-color: #1a1a1a;*/
/*  color: white;*/
/*  padding: 0.5rem;*/
/*  z-index: 1;*/
/*  border-bottom: 1px solid #FFFFFF;*/
/*  display: flex;*/
/*  justify-content: space-between; !* Align children to each end of the flex container *!*/
/*}*/

/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*.logo-size {*/
/*  height: 50px;*/
/*  width: 50px;*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/

/*.text-lg {*/
/*  font-size: 30px;*/
/*}*/

/*.navbar a:hover {*/
/*  color: #9CA3AF; !* Tailwind's text-gray-400 *!*/
/*}*/

/*.text-4xl {*/
/*  font-size: 2.25rem; !* Adjust the font size as needed *!*/
/*  font-weight: bold; !* Adjust the font weight as needed *!*/
/*  color: #333; !* Adjust the color as needed *!*/
/*  !* Add any other styles you want to apply *!*/
/*}*/

/*/* margin ng choose your fighter and the content below*/
/*.mb-8 {*/
/*  margin-bottom: 2rem; !* Adjust the margin bottom as needed *!*/
/*}*/

/*/*distance between navbar and content below*/
/*/*color ng "Choose your fighter"*/
/*.mt-navbar {*/
/*  padding-top: 4rem;*/
/*  color: #FFFFFF;*/
/*  font-family: poppins;*/
/*}*/

/*.flex {*/
/*  font-size: 20px;*/
/*}*/

/*.items-center {*/
/*  display: flex;*/
/*  justify-content: end;*/
/*  padding-left: 20px;*/
/*}*/

/*.space-x-4 {*/

/*}*/

.welcome {
  font-size: 75px;
  font-family: poppins;
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  border-bottom-width: 1px;
  border-bottom-color: white;
  font-weight: bold;
  font-family: poppins;
  background-color: black;
  z-index: 1;
}

.logo {
  height: 20px;
}

.separator {
  margin: 0 10px;
}

/* choose your fighter text */
.fighter {
  font-size: 35px;
  font-family: poppins;
  font-weight: normal;
  text-align: center;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);*/
}

.space-x-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-height: 100vh;
  margin-top: 1rem;
}

.bottom-page, .cursor-pointer {
  background-color: #464646;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  padding: 20px;
  flex: 1;
  text-align: center;
  width: 500px;
  object-fit: cover;
  cursor: pointer;
}

/* rounded corners of pictures */
.mb-4 {
  border-radius: 10%;
}

/* container for a user's page */
.gen-container {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Center the container content horizontally */
  align-items: center; /* Center the container content vertically */
  gap: 300px;
  max-height: 100vh;
  margin-top: 1rem;
}

/* pfp per user */
.shan-pfp, .clark-pfp {
  width: 300px;
}

/* buttons on a user's page */
.pages {
  margin: 30px 0;
  text-align: right;
}

/* favorite music button on a user's page*/
.music-page {
  margin-top: 50px;
}

/* Explore users title */
.explore {
  font-size: 30px;
  font-family: poppins;
}

.user-name {
  font-family: poppins;
  font-weight: lighter;
  text-align: center;
}

.favorites {
}

/*Used for dynamic gaps*/
/*@media (max-width: 1200px) {*/
/*  .gen-container {*/
/*    --dynamic-gap: 2rem;*/
/*  }*/
/*}*/

/*.p-4 {*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/* BELOW ARE USED FOR MUSIC */

.music-container {
  padding: 1rem;
}

/*.music-item {*/
/*  border: 1px solid #e5e7eb; !* Tailwind's 'border-gray-200' *!*/
/*  padding: 1rem;*/
/*  border-radius: 0.5rem; !* Tailwind's 'rounded-lg' *!*/
/*  background-color: #ffffff; !* Tailwind's 'bg-white' *!*/
/*}*/

/*.music-item strong {*/
/*  display: block;*/
/*  margin-bottom: 0.5rem;*/
/*}*/

.album-art {
  width: 30%;
  height: auto;
  /*max-height: 50px; !* Add this to maintain a reasonable size *!*/
  object-fit: cover; /* Ensure the image covers the container */
  margin-bottom: 1rem; /* Add some space below the image */
}

.spotify-player {
  margin-top: 1rem;
}

.update-button {
  margin-top: 0.5rem;
  background-color: #3b82f6; /* Tailwind's 'bg-blue-500' */
  color: #ffffff; /* Tailwind's 'text-white' */
  padding: 0.5rem 1rem; /* Tailwind's 'px-4 py-2' */
  border-radius: 0.25rem; /* Tailwind's 'rounded' */
  transition: background-color 0.3s;
}

.update-button:hover {
  background-color: #2563eb; /* Tailwind's 'hover:bg-blue-700' */
}

/* Music.css */
.music-group {
  display: grid;
  gap: 1rem; /* Adjust the space between the items */
}

.music-row-1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.music-row-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: repeat(auto-fill, 120px);*/
  grid-row-gap: .5em;
  grid-column-gap: 1em;
  justify-content: center;
}

/*.music-item {*/
/*  border: 1px solid #ccc;*/
/*  padding: 1rem;*/
/*  border-radius: 0.5rem;*/
/*  text-align: center;*/
/*}*/


.music-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.music-artist {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.music-album {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.album-art {
  margin-bottom: 1rem;
  width: 400px;
  border-radius: 30px;
}

.spotify-player {
  margin-bottom: 1rem;
}

.spotify-player-container {
  width: 430px; /* Set the desired width */
  /*height: 222px; !* Set the desired height *!*/
}

.music-label {
  font-size: 15px;
  text-align: center;
}

.music-item-1 {
  display: grid
}

.min-w-full {
  /*min-height: 100bg;*/

}

/*.py-2 {*/
/*  width: 175px;*/
/*}*/

.to-do-header {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}

.mb-4 {
  margin: 30px;
}

.overflow-x-auto {
  border-width: 0.5px;
  justify-content: left;
  width: 100%;
  max-width: 1000px;
  margin: 30px;
  padding: 30px;
  border-color: #FFFFFF;
  overflow-x: auto;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-check {
  width: 75px;
}

.todo-label {
  width: 125px;
}

.todo-task {
  width: 175px;
}

.add-todo {
  margin-left: 30px;
}

/* todo select */

/*.spotify-player-container iframe {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
