#root {
  /*padding: 2rem;*/
  /*text-align: center;*/
}

/*.logo {*/
/*  height: 60px;*/

/*}*/

/*.bg-gray-800 {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height:10%;*/
/*  background-color: #1a1a1a;*/
/*  color: white;*/
/*  padding: 0.5rem;*/
/*  z-index: 1;*/
/*  border-bottom: 1px solid #FFFFFF;*/
/*  display: flex;*/
/*  justify-content: space-between; !* Align children to each end of the flex container *!*/
/*}*/

/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*.logo-size {*/
/*  height: 50px;*/
/*  width: 50px;*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/

/*.text-lg {*/
/*  font-size: 30px;*/
/*}*/

/*.navbar a:hover {*/
/*  color: #9CA3AF; !* Tailwind's text-gray-400 *!*/
/*}*/

/*.text-4xl {*/
/*  font-size: 2.25rem; !* Adjust the font size as needed *!*/
/*  font-weight: bold; !* Adjust the font weight as needed *!*/
/*  color: #333; !* Adjust the color as needed *!*/
/*  !* Add any other styles you want to apply *!*/
/*}*/

/*/* margin ng choose your fighter and the content below*/
/*.mb-8 {*/
/*  margin-bottom: 2rem; !* Adjust the margin bottom as needed *!*/
/*}*/

/*/*distance between navbar and content below*/
/*/*color ng "Choose your fighter"*/
/*.mt-navbar {*/
/*  padding-top: 4rem;*/
/*  color: #FFFFFF;*/
/*  font-family: poppins;*/
/*}*/

/*.flex {*/
/*  font-size: 20px;*/
/*}*/

/*.items-center {*/
/*  display: flex;*/
/*  justify-content: end;*/
/*  padding-left: 20px;*/
/*}*/

/*.space-x-4 {*/

/*}*/

.welcome {
  font-size: 75px;
  font-family: poppins;
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  border-bottom-width: 1px;
  border-bottom-color: white;
  font-weight: bold;
  font-family: poppins;
  background-color: black;
  z-index: 1;
}

.logo {
  height: 20px;
}

.separator {
  margin: 0 10px;
}

.fighter {
  font-size: 35px;
  font-family: poppins;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.space-x-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-height: 100vh;
  margin-top: 1rem;
}

.bottom-page, .cursor-pointer {
  background-color: #464646;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  padding: 20px;
  flex: 1;
  text-align: center;
  width: 500px;
  object-fit: cover;
  cursor: pointer;
}

/* rounded corners of pictures */
.mb-4 {
  border-radius: 10%;
}

/* container for a user's page */
.gen-container {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Center the container content horizontally */
  align-items: center; /* Center the container content vertically */
  gap: 300px;
  max-height: 100vh;
  margin-top: 1rem;
}

/* pfp per user */
.shan-pfp, .clark-pfp {
  width: 300px;
}

/* buttons on a user's page */
.pages {
  margin: 30px 0;
}

/* favorite music button on a user's page*/
.music-page {
  margin-top: 50px;
}

/* Explore users title */
.explore {
  font-size: 30px;
  font-family: poppins;
}

/*Used for dynamic gaps*/
/*@media (max-width: 1200px) {*/
/*  .gen-container {*/
/*    --dynamic-gap: 2rem;*/
/*  }*/
/*}*/

/*.p-4 {*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/